
.Home{
  background-color: #fff8f1;
  
}
.App {
  text-align: center;
  display: flex;
}

/* NAVBAR SCROLL FUNCTION ADD AND USING CSS HERE FOR CHANGING COLOR  */


.Navbar{
  background-color: #fff8f1;
  
}

.Navbar.colorChange{
  background-color: white;
}
.NavbarHover:hover{
  color: #fa5d00;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


 /* FOOTER PAGE  */


.Footer{
  background-color: white;
}
.FooterBlack{
  background-color: black;
  
}
.FooterBlack a{
  font-size: 1.3rem;
  color: white;

}
.FooterBlack a:hover{
  color: #fa5d00;
  border-inline-color: none;
}
 
/* SIGNIN PAGE  */

.Signin{
 margin: auto;
 width: 50%;
 /* border: solid 1px red; */
 display: block;
 margin-left: 500px;
}
.SingnupPage{
  background-color: #fff8f1;
}
.SigninATag a{
  color: gray;
}
.SigninATag a:hover{
  border-bottom: solid 1px gray;
}
.Signup a{
  border-bottom: solid 1px gray;
}



/* CUSTOMERS PAGE */

.CustomersImage :hover{
  border-bottom-right-radius: 55px;
  border-top-left-radius: 55px;
  cursor: pointer;
}
.CustomerDetails :hover{
  background-color: #fee8d8;
  border-radius: 10px;
  cursor: pointer;
}
.CustomersStory :hover{
  background-color: #a19e9b;
  cursor: pointer;
}

#Features:hover{
  color:#fa5d00;
  cursor: pointer;
}
